@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0px;
  outline: none;
  font-family: "Roboto", sans-serif;
  
}

body{
  background-color: #f9f9f9;
  background-image: url('./assets/react.svg');
  background-repeat: no-repeat;
  background-position-x: 125%;
  background-position-y: 5%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
